.App {
	text-align: center;
	background-color: #5a4580;
}

.flex-container {
	display: flex;
}

button:hover {
	background: red;
	color: white;
}

.card-grid {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	width: 50%;
}

.flex-top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-top h2 {
	color: whitesmoke;
	margin-left: 20px;
}
h1 {
	font-size: xx-large;
	font-weight: bolder;
	color: whitesmoke;
  margin-right: 100px;
  padding: 5px;
  border: 2px solid white;
}

.mid {
	display: flex;
	justify-content: center;
}

.explanation {
  font-weight: 500;
  font-size: large;
  color: white;
  
}
